/* Basic and Reset Styles */
body, ul {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

/* Navigation */
.nav-bar {
    display: flex;
    justify-content: center;
    background: #333;
    padding: 1em;
}

.nav-bar li {
    list-style-type: none;
    margin: 0 15px;
}

.nav-bar a {
    color: #fff;
    text-decoration: none;
    padding: 0.5em 1em;
    transition: background 0.3s;
}

.nav-bar a:hover {
    background: #ff6b6b;
}

/* Header */
header {
    background-color: #ff6b6b;
    color: white;
    padding: 3em 0;
    text-align: center;
}

.header-img {
    width: 70px;
}

.scroll-button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

/* Sections */
section {
    padding: 2em;
    max-width: 900px;
    margin: auto;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: #fff;
    padding: 2em;
    width: 90%;
    max-width: 500px;
    position: relative;
    border-radius: 10px;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5em;
    cursor: pointer;
}